*{
    box-sizing: border-box;
    font-size: 1.2em;
}
.container{
    display: flex;
    justify-content: center;
}
tr{
    border: 2px solid grey;
}
.name{
    margin: 20px;
    padding: 8px;

}
.value:hover, .name:hover{
    cursor: pointer;
    color: darkred;
    font-weight: bold;
}
